testService.wsdl

<definitions name="ImageService"
             targetNamespace="http://tempuri.org/ImageService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://tempuri.org/ImageService">

    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/ImageService">
            <xsd:element name="ProcessImageRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="imageUrl" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ProcessImageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="base64Image" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddIntegersRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="intA" type="xsd:int"/>
                        <xsd:element name="intB" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddIntegersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sum" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="ProcessImageRequestSoapIn">
        <part name="parameters" element="tns:ProcessImageRequest"/>
    </message>
    <message name="ProcessImageResponseSoapOut">
        <part name="parameters" element="tns:ProcessImageResponse"/>
    </message>
    <message name="AddIntegersRequestSoapIn">
        <part name="parameters" element="tns:AddIntegersRequest"/>
    </message>
    <message name="AddIntegersResponseSoapOut">
        <part name="parameters" element="tns:AddIntegersResponse"/>
    </message>

    <portType name="ImagePortType">
        <operation name="ProcessImage">
            <input message="tns:ProcessImageRequestSoapIn"/>
            <output message="tns:ProcessImageResponseSoapOut"/>
        </operation>
        <operation name="AddIntegers">
            <input message="tns:AddIntegersRequestSoapIn"/>
            <output message="tns:AddIntegersResponseSoapOut"/>
        </operation>
    </portType>

    <binding name="ImageBinding" type="tns:ImagePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProcessImage">
            <soap:operation soapAction="http://tempuri.org/ImageService/ProcessImage"/>
            <input>
                <soap:body use="literal" namespace="http://tempuri.org/ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://tempuri.org/ImageService"/>
            </output>
        </operation>
        <operation name="AddIntegers">
            <soap:operation soapAction="http://tempuri.org/ImageService/AddIntegers"/>
            <input>
                <soap:body use="literal" namespace="http://tempuri.org/ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://tempuri.org/ImageService"/>
            </output>
        </operation>
    </binding>

    <service name="ImageService">
        <port binding="tns:ImageBinding" name="ImagePort">
            <soap:address location="https://soap-url-to-base64.onrender.com/MyFunction"/>
        </port>
    </service>
</definitions>
