testService.wsdl

<definitions name="ImageService"
             targetNamespace="https://soapurltobase64-production.up.railway.app/ImageService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:tns="https://soapurltobase64-production.up.railway.app/ImageService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Define the types -->
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="https://soapurltobase64-production.up.railway.app/ImageService">
            <xsd:import namespace="http://tempuri.org/ByNameDataSet" schemaLocation="https://www.crcind.com:443/csp/samples/SOAP.ByNameDataSet.cls?XSD"/>
            <xsd:import namespace="http://tempuri.org/QueryByName_DataSet" schemaLocation="https://www.crcind.com:443/csp/samples/SOAP.Demo.QueryByName.DS.cls?XSD"/>
            <!-- Define the complex types here if needed -->
            <xsd:element name="ProcessImageRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="imageUrl" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ProcessImageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="base64Image" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddIntegersRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="intA" type="xsd:int"/>
                        <xsd:element name="intB" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddIntegersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sum" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Define the input and output messages -->
    <message name="ProcessImageRequestSoapIn">
        <part name="parameters" element="tns:ProcessImageRequest"/>
    </message>
    <message name="ProcessImageResponseSoapOut">
        <part name="parameters" element="tns:ProcessImageResponse"/>
    </message>
    <message name="AddIntegersRequestSoapIn">
        <part name="parameters" element="tns:AddIntegersRequest"/>
    </message>
    <message name="AddIntegersResponseSoapOut">
        <part name="parameters" element="tns:AddIntegersResponse"/>
    </message>

    <!-- Define the port type with the operations -->
    <portType name="ImagePortType">
        <operation name="ProcessImage">
            <input message="tns:ProcessImageRequestSoapIn"/>
            <output message="tns:ProcessImageResponseSoapOut"/>
        </operation>
        <operation name="AddIntegers">
            <input message="tns:AddIntegersRequestSoapIn"/>
            <output message="tns:AddIntegersResponseSoapOut"/>
        </operation>
        <!-- New Operation for SOAP.Demo -->
        <operation name="SOAPDemoAddInteger">
            <input message="tns:AddIntegersRequestSoapIn"/>
            <output message="tns:AddIntegersResponseSoapOut"/>
        </operation>
    </portType>

    <!-- Define the binding -->
    <binding name="ImageBinding" type="tns:ImagePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProcessImage">
            <soap:operation soapAction="https://soapurltobase64-production.up.railway.app/ImageService/ProcessImage"/>
            <input>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/ImageService"/>
            </output>
        </operation>
        <operation name="AddIntegers">
            <soap:operation soapAction="https://soapurltobase64-production.up.railway.app/ImageService/AddIntegers"/>
            <input>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/ImageService"/>
            </output>
        </operation>
        <!-- New Binding for SOAP.Demo -->
        <operation name="SOAPDemoAddInteger">
            <soap:operation soapAction="https://soapurltobase64-production.up.railway.app/SOAP.Demo.AddInteger"/>
            <input>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/SOAP.demo.ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://soapurltobase64-production.up.railway.app/SOAP.demo.ImageService"/>
            </output>
        </operation>
    </binding>

    <!-- Define the service and its endpoint -->
    <service name="ImageService">
        <documentation>Service for processing images and adding integers</documentation>
        <port binding="tns:ImageBinding" name="ImagePort">
            <soap:address location="https://soapurltobase64-production.up.railway.app:443/SOAP.demo.cls"/>
            <!-- <soap:address location="http://localhost:8001/SOAP.Demo.cls"/> -->
        </port>
    </service>
</definitions>
