testService.wsdl

<definitions name="ImageService"
             targetNamespace="http://www.example.com/ImageService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.com/ImageService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define the types -->
    <types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/ImageService">
            <xs:element name="ProcessImageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="imageUrl" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessImageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="base64Image" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Define the input and output messages -->
    <message name="ProcessImageRequest">
        <part name="parameters" element="tns:ProcessImageRequest"/>
    </message>
    <message name="ProcessImageResponse">
        <part name="parameters" element="tns:ProcessImageResponse"/>
    </message>

    <!-- Define the port type with the operation -->
    <portType name="ImagePortType">
        <operation name="ProcessImage">
            <input message="tns:ProcessImageRequest"/>
            <output message="tns:ProcessImageResponse"/>
        </operation>
    </portType>

    <!-- Define the binding -->
    <binding name="ImageBinding" type="tns:ImagePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProcessImage">
            <soap:operation soapAction="http://www.example.com/ImageService/ProcessImage"/>
            <input>
                <soap:body use="literal" namespace="http://www.example.com/ImageService"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://www.example.com/ImageService"/>
            </output>
        </operation>
    </binding>

    <!-- Define the service and its endpoint -->
    <service name="ImageService">
        <documentation>Service for processing images</documentation>
        <port binding="tns:ImageBinding" name="ImagePort">
            <!-- <soap:address location="http://localhost:8001/MyFunction"/> -->
            <soap:address location="http://soap-url-to-base64.onrender.com/MyFunction"/>
        </port>
    </service>
</definitions>
